@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0px;
    padding:0px;
    color:antiquewhite;
    height:100vh;
}

header {
    /* padding: 41px; */
    background: white;
}

#gender1{
    color:black;
}

#left{
    margin:3px; 
    display: inline-block;
    position:absolute;  
    left: 60px;
    top:30px;
    width: 180px;
    height:200px;
    text-align:center;
    font-size:24px
 }
#left p{
    margin: 0;
    padding: 0;
    color:rgb(255 178 4)
}

#left img{
    border:4px solid #7675989c;
    border-radius: 97px;
}

#center{
   display:flex;
   justify-content: center;
   height:10vh;

}
#right{
    margin:3px;
    display: inline-block;
    position:absolute;
    right:100px;
    top:30px;
}
.navbar{
    display:inline-block;
}

.navbar ul{
    display:flex;
    flex-direction:row;
    margin:47px;
}
.navbar li{
    font-size:19px;
    list-style-type:none;
}
.navbar li a{
    margin:5px;
    padding:5px 5px;
    text-decoration: none;
    color:rgb(255 178 4); 
}
.navbar li a:hover{
    color:rgb(58, 54, 54);
}
#right button{
    font-size:20px;
    background-color: rgba(77, 55, 32, 0);
    color:rgb(255 178 4); 

}

#right button:hover{
color:rgb(61, 57, 57);
}

.background{
    height:80vh;
}

#img1{
    max-height:86vh;
    width:36vw;
}

#img2{
    height:43vh;
    width:585px;
}

#img3{
    height:42vh;
    width:585px;
}

.reg-image{
    display:grid;
    grid-template-columns: 640px 695px 550px;
    background-color: #262625;
    height:86vh;
    grid: gap 0;
}

.container{
    width:400px;
    height:300px;
    margin :250px 100px;
    color:rgb(255 178 4);
    text-align :center;
    font-size:25px;
    }
input{
    margin-bottom: 5px;
    border:2px solid black;
    border-radius:5px;
    color:rgb(29, 28, 28);
}

h1{
    font-size:45px;
    margin :0px;
    padding:0px;
    font-weight:500;
    
}

 form button{
    width: 215px;
    height: 40px;
    font-weight: 400;
    background-color: rgb(255 178 4);
    color: rgb(0 0 0);
    font-size:15px;

 }  
 #c1{
    color:rgb(255 178 4);
 } 
 #c2{
     color:rgb(255 178 4);
 }

 footer{
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
 }